<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ajax_preloader</name>
	<displayName><![CDATA[Ajax Preloader]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Adds a custom overlay with loading animation for the ajax calls]]></description>
	<author><![CDATA[Agustín Fiori]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
